<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Lillydoo!{% endblock %}</title>
        {% block stylesheets %}
          <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">           
          <link href="{{ asset('all/css/content.css') }}" rel="stylesheet" />   
        {% endblock %}
    </head>
    <body>
 
        
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark " >
            <a class="navbar-brand" href="#">Lillydoo Admin Area </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
{#                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>#}

                <form action="{{ path('addressbook_search') }}" method="post" class="form-inline" style="margin-left:150px;">

                    <input type="text" name="searchterm" value="" class="form-control mr-sm-2"  >
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    
                </form>
            </div>
        </nav>
                
        <hr/> 
          
        <div class="container-fluid">
            <div class="row">
                
               {{ include('sidebar.html.twig') }}
               
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-6">
                {% block body %}{% endblock %}
                </main >
            
            </div>
        </div>   
               
        {% block javascripts %}
           <script
                src="https://code.jquery.com/jquery-3.4.1.js"
                integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
                crossorigin="anonymous">              
           </script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>                  

            
            <script
                src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
                integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
                crossorigin="anonymous">
            </script>

        {% endblock %}
    </body>
</html>
